<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
        <!-- CSRF Config -->
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <!-- -->
        <link rel="stylesheet" type="text/css" href="../frameworks/semantic/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../css/toybox.css"/>

        <script type="text/javascript" src="../frameworks/jquery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../frameworks/axios/axios.min.js"></script>
        <script type="text/javascript" src="../frameworks/semantic/semantic.min.js"></script>
        <script type="text/javascript" src="../frameworks/vue/vue.js"></script>
        <!-- <script type="text/javascript" src="../frameworks/vue/vue.min.js"></script> -->
        <script src="../frameworks/imagesloaded.pkgd.min.js"></script>
        <script src="../frameworks/FileSaver.min.js"></script>
        <script src="../frameworks/moment.min.js"></script>
        <script type="text/javascript" src="../js/httpVueLoader.js"></script>
    </head>
    <body>
        <div style="height: calc(100% - 68px); width: 100%;" id="toybox-files">
            <navbar v-bind:user="user"/>
            <div class="toybox-background">
                <div id="toybox-files-container" class="ui grid toybox-asset-container">
                    <div class="three wide column">
                        <div class="ui grid" style="margin-top: 10px;">
                            <div class="one column row toybox-filters-header-row">
                                <div class="column">
                                    <i class="filter icon"></i>
                                    <span>Filters</span>
                                </div>
                            </div>
                        </div>
                        <div class="ui grid">
                            <div class="ui styled accordion">
                                <facet v-for="facet in facets" v-bind:name="facet.name" v-bind:id="facet.id" v-bind:lookups="facet.lookups" v-bind:key="facet.id"/>
                            </div>
                        </div>
                    </div>
                    <div class="thirteen wide column">
                        <div class="ui grid gallery-top-menu">
                            <div class="ui basic buttons">
                                <!-- Top menu buttons -->
                                <button class="ui button" v-on:click.stop="assetsShare" v-bind:disabled="selectedAssets.length == 0">
                                    <i class="share alternate icon"></i> Share
                                </button>
                                <button class="ui button" v-on:click.stop="assetsDownload" v-bind:disabled="selectedAssets.length == 0">
                                    <i class="download icon"></i> Download
                                </button>
                                <!-- <button class="ui button" v-on:click.stop="rename" v-bind:disabled="selectedAssets.length == 0">
                                    <i class="i cursor icon"></i> Rename
                                </button> -->
                                <button class="ui button" v-on:click.stop="assetsCopy" v-bind:disabled="selectedAssets.length == 0">
                                    <i class="copy icon"></i> Copy
                                </button>
                                <button class="ui button" v-on:click.stop="assetsMove" v-bind:disabled="selectedAssets.length == 0">
                                    <i class="external alternate icon"></i> Move
                                </button>
                                <button class="ui button" v-on:click.stop="assetsSubscribe" v-bind:disabled="selectedAssets.length == 0">
                                    <i class="eye icon"></i> Subscribe
                                </button>
                                <button class="ui button" v-on:click.stop="assetsUnsubscribe" v-bind:disabled="selectedAssets.length == 0">
                                    <i class="eye slash icon"></i> Unsubscribe
                                </button>
                                <!-- <button class="ui button" v-on:click.stop="showVersionHistory" v-bind:disabled="selectedAssets.length == 0">
                                    <i class="list alternate outline icon"></i> Show Version History
                                </button> -->
                                <button class="ui button" v-on:click.stop="assetsDelete" v-bind:disabled="selectedAssets.length == 0">
                                    <i class="trash icon"></i> Delete
                                </button>
                            </div>
                            <div class="ui right floated small basic icon buttons">
                                <button class="ui icon toggle button" id="grid-list-toggle-button">
                                    <i class="grid layout icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="ui four doubling stackable cards">
                            <div class="ui active dimmer" v-if="isLoading">
                                <div class="ui massive text loader">Loading</div>
                            </div>
                            <asset v-for="asset in assets" v-bind:id="asset.id" v-bind:name="asset.name" v-bind:imported-by-username="asset.importedByUsername"
                            v-bind:extension="asset.extension" v-bind:type="asset.type" v-bind:rendition-url="renditionUrl" v-bind:subscribed="asset.subscribed"
                            v-bind:original-asset-id="asset.originalAssetId" v-bind:key="asset.id"/>
                        </div>
                        <div class="ui right floated pagination menu toybox-pagination">
                            <a v-bind:class="{icon:true, disabled:previousPageButtonDisabled, item:true}" v-on:click="previousPage">
                                <i class="left chevron icon"></i>
                            </a>
                            <div class="item">
                                {{ startIndex }} - {{ endIndex }} of {{ totalRecords }} Results
                            </div>
                            <div class="item">
                                <span>{{ currentPage }} of {{ totalPages }} Pages</span>
                            </div>
                            <a v-bind:class="{icon:true, disabled:nextPageButtonDisabled, item:true}" v-on:click="nextPage">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="messages">
                <message v-for="message in messages" v-bind:id="message.id" v-bind:is-info="message.isInfo" v-bind:is-ok="message.isOk"
                v-bind:is-error="message.isError" v-bind:is-warning="message.isWarning" v-bind:header="message.header"
                v-bind:message="message.message" v-bind:key="message.id"></message>
            </div>
            <asset-preview-modal-window v-bind:rendition-url="renditionUrl"></asset-preview-modal-window>
            <asset-rename-modal-window></asset-rename-modal-window>
            <asset-version-history-modal-window></asset-version-history-modal-window>
        </div>
        <script src="../components/mixins/service/service-mixin.js"></script>
        <script src="../components/mixins/user/user-mixin.js"></script>
        <script src="../components/mixins/facet/facet-mixin.js"></script>
        <script src="../components/mixins/message/message-mixin.js"></script>
        <script src="../components/mixins/pagination/pagination-mixin.js"></script>
        <script src="../components/mixins/notification/notification-mixin.js"></script>
        <script src="../components/mixins/asset-actions/asset-actions-mixin.js"></script>
        <script src="../js/utilities.js"></script>
        <script src="../js/files.js"></script>
    </body>
</html>