<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
        <!-- CSRF Config -->
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <!-- -->
        <link rel="stylesheet" type="text/css" href="../thirdparty/semantic/semantic.min.css"/>
        <link rel="stylesheet" href="../thirdparty/fontello/css/fontello.css"/>
        <link rel="stylesheet" type="text/css" href="../thirdparty/fancytree/skin-bootstrap/ui.fancytree.min.css"/>
        <link rel="stylesheet" type="text/css" href="../css/toybox.css"/>

        <script type="text/javascript" src="../thirdparty/jquery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../thirdparty/axios/axios.min.js"></script>
        <script type="text/javascript" src="../thirdparty/semantic/semantic.min.js"></script>
        <script type="text/javascript" src="../thirdparty/vue/vue.js"></script>
        <!-- <script type="text/javascript" src="../thirdparty/vue/vue.min.js"></script> -->
        <script src="../thirdparty/imagesloaded.pkgd.min.js"></script>
        <script src="../thirdparty/FileSaver.min.js"></script>
        <script src="../thirdparty/moment.min.js"></script>
        <script type="text/javascript" src="../thirdparty/fancytree/jquery.fancytree-all-deps.min.js"></script>
        <script type="text/javascript" src="../js/httpVueLoader.js"></script>
    </head>
    <body>
        <div style="height: calc(100% - 68px); width: 100%;" id="toybox-folders">
            <navbar v-bind:user="user"/>
            <div class="toybox-background">
                <div id="toybox-folders-container" class="ui grid toybox-folder-container">
                    <div class="three wide column">
                        <div class="ui grid" style="margin-top: 10px;">
                            <div class="one column row toybox-filters-header-row">
                                <div class="column">
                                    <i class="filter icon"></i>
                                    <span>Filters</span>
                                </div>
                            </div>
                        </div>
                        <div class="ui grid">
                            <div class="ui styled accordion">
                                <facet v-for="facet in facets" v-bind:name="facet.name" v-bind:id="facet.id" v-bind:lookups="facet.lookups" v-bind:key="facet.id"/>
                            </div>
                        </div>
                    </div>
                    <div class="thirteen wide column">
                        <div class="ui grid gallery-top-menu">
                            <div class="ui basic buttons">
                                <!-- Top menu buttons -->
                                <button class="ui button" v-on:click.stop="createNewFolder" v-bind:disabled="!canCreateFolder">
                                    <i class="folder icon"></i> New Folder
                                </button>
                                <button class="ui button" v-on:click.stop="uploadNewFile" v-bind:disabled="!canUploadFile">
                                    <i class="cloud upload icon"></i> New File
                                </button>
                                <button class="ui button" v-on:click.stop="itemsShare" v-bind:disabled="!canShare">
                                    <i class="share alternate icon"></i> Share
                                </button>
                                <button class="ui button" v-on:click.stop="itemsDownload" v-bind:disabled="!canDownload">
                                    <i class="download icon"></i> Download
                                </button>
                                <button class="ui button" v-on:click.stop="itemsCopy" v-bind:disabled="!canCopy">
                                    <i class="copy icon"></i> Copy
                                </button>
                                <button class="ui button" v-on:click.stop="itemsMove" v-bind:disabled="!canMove">
                                    <i class="external alternate icon"></i> Move
                                </button>
                                <button class="ui button" v-on:click.stop="itemsSubscribe" v-bind:disabled="!canSubscribe">
                                    <i class="eye icon"></i> Subscribe
                                </button>
                                <button class="ui button" v-on:click.stop="itemsUnsubscribe" v-bind:disabled="!canUnsubscribe">
                                    <i class="eye slash icon"></i> Unsubscribe
                                </button>
                                <button class="ui button" v-on:click.stop="itemsDelete" v-bind:disabled="!canDelete">
                                    <i class="trash icon"></i> Delete
                                </button>
                            </div>
                            <div class="ui right floated small basic icon buttons">
                                <button class="ui icon toggle button" id="grid-list-toggle-button">
                                    <i class="grid layout icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="ui breadcrumb" style="margin-bottom:20px">
                            <breadcrumb v-for="breadcrumb in breadcrumbs" v-bind:container-id="breadcrumb.containerId" v-bind:container-name="breadcrumb.containerName"
                            v-bind:is-active="breadcrumb.isActive" v-bind:is-section="breadcrumb.isSection" v-bind:user="user"
                            v-bind:current-container-id="currentFolderId" v-bind:key="breadcrumb.containerId"></breadcrumb>
                            <button class="ui icon button" style="margin-left: 30px;" v-on:click.stop="refresh">
                                <i class="sync icon"></i>
                            </button>
                        </div>
                        <div class="ui four doubling stackable cards">
                            <div class="ui active dimmer" v-if="isLoading">
                                <div class="ui massive text loader">Loading</div>
                            </div>
                            <div class="ui active dimmer" v-if="isDownloading">
                                <div class="ui massive text loader">Preparing the selected items for download. Your download will start once they are ready...</div>
                            </div>
                            <component v-bind:is="item['@class'] === 'com.github.murataykanat.toybox.dbo.Asset' ? 'asset' : 'folder'"
                                        v-for="item in items"
                                        v-bind:id="item.id" v-bind:name="item.name" v-bind:created-by-username="item.createdByUsername"
                                        v-bind:subscribed="item.subscribed" v-bind:rendition-url="renditionUrl" v-bind:imported-by-username="item.importedByUsername"
                                        v-bind:extension="item.extension" v-bind:type="item.type" v-bind:original-asset-id="item.originalAssetId"
                                        v-bind:parent-container-id="item.parentContainerId" v-bind:shared="item.shared"
                                        v-bind:shared-by-username="item.sharedByUsername" v-bind:can-download="item.canDownload" v-bind:can-copy="item.canCopy"
                                        v-bind:can-edit="item.canEdit" v-bind:can-share="item.canShare" v-bind:key="item.id"></component>
                        </div>
                        <div class="ui right floated pagination menu toybox-pagination">
                            <a v-bind:class="{icon:true, disabled:previousPageButtonDisabled, item:true}" v-on:click="previousPage">
                                <i class="left chevron icon"></i>
                            </a>
                            <div class="item">
                                {{ startIndex }} - {{ endIndex }} of {{ totalRecords }} Results
                            </div>
                            <div class="item">
                                <span>{{ currentPage }} of {{ totalPages }} Pages</span>
                            </div>
                            <a v-bind:class="{icon:true, disabled:nextPageButtonDisabled, item:true}" v-on:click="nextPage">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <create-container-modal-window></create-container-modal-window>
            <asset-preview-modal-window v-bind:rendition-url="renditionUrl"></asset-preview-modal-window>
            <asset-rename-modal-window></asset-rename-modal-window>
            <asset-version-history-modal-window></asset-version-history-modal-window>
            <copy-move-asset-modal-window></copy-move-asset-modal-window>
            <share-modal-window></share-modal-window>
        </div>
    </body>
    <script src="../components/mixins/user/user-mixin.js"></script>
    <script src="../components/mixins/service/service-mixin.js"></script>
    <script src="../components/mixins/facet/facet-mixin.js"></script>
    <script src="../components/mixins/pagination/pagination-mixin.js"></script>
    <script src="../components/mixins/message/message-mixin.js"></script>
    <script src="../components/mixins/notification/notification-mixin.js"></script>
    <script src="../components/mixins/item-actions/item-actions-mixin.js"></script>
    <script src="../components/mixins/asset-actions/asset-actions-mixin.js"></script>
    <script src="../js/utilities.js"></script>
    <script src="../js/folders.js"></script>
</html>