<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
        <!-- CSRF Config -->
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <!-- -->
        <link rel="stylesheet" type="text/css" href="../frameworks/semantic/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../css/toybox.css"/>

        <script type="text/javascript" src="../frameworks/jquery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../frameworks/axios/axios.min.js"></script>
        <script type="text/javascript" src="../frameworks/semantic/semantic.min.js"></script>
        <script type="text/javascript" src="../frameworks/vue/vue.js"></script>
        <!-- <script type="text/javascript" src="../frameworks/vue/vue.min.js"></script> -->
        <script src="../frameworks/imagesloaded.pkgd.min.js"></script>
        <script src="../frameworks/FileSaver.min.js"></script>
        <script src="../frameworks/moment.min.js"></script>
        <script type="text/javascript" src="../js/httpVueLoader.js"></script>
    </head>
    <body>
        <div style="height: calc(100% - 68px); width: 100%;" id="toybox-jobs">
            <navbar v-bind:user="user"/>
            <div class="toybox-background">
                <div class="toybox-container">
                    <div class="ui grid toybox-jobs-container">
                        <div class="three wide column">
                            <div class="ui grid" style="margin-top: 10px;">
                                <div class="one column row toybox-filters-header-row">
                                    <div class="column">
                                        <i class="filter icon"></i>
                                        <span>Filters</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui grid">
                                <div class="ui styled accordion">
                                    <facet v-for="facet in facets" v-bind:name="facet.name" v-bind:id="facet.id" v-bind:lookups="facet.lookups" v-bind:key="facet.id"/>
                                </div>
                            </div>
                        </div>
                        <div class="thirteen wide column">
                            <div class="ui grid toybox-jobs-header-grid">
                                <div class="six column row toybox-jobs-header-row">
                                    <div class="column">
                                        <span>Job Name</span>
                                        <span class="toybox-pagination-icons" v-if="isJobNameSortedDes" v-on:click="sort('asc','JOB_NAME')">
                                            <i class="sort down icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-if="isJobNameSortedAsc" v-on:click="sort('des','JOB_NAME')">
                                            <i class="sort up icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-if="!isJobNameSorted" v-on:click="sort('des','JOB_NAME')">
                                            <i class="sort icon"></i>
                                        </span>
                                    </div>
                                    <div class="column">
                                        <span>Job Type</span>
                                        <span class="toybox-pagination-icons" v-if="isJobTypeSortedDes" v-on:click="sort('asc','JOB_TYPE')">
                                            <i class="sort down icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-if="isJobTypeSortedAsc" v-on:click="sort('des','JOB_TYPE')">
                                            <i class="sort up icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-if="!isJobTypeSorted" v-on:click="sort('des','JOB_TYPE')">
                                            <i class="sort icon"></i>
                                        </span>
                                    </div>
                                    <div class="column">
                                        <span>Start Time</span>
                                        <span class="toybox-pagination-icons" v-if="isStartTimeSortedDes" v-on:click="sort('asc','START_TIME')">
                                            <i class="sort down icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-else-if="isStartTimeSortedAsc" v-on:click="sort('des','START_TIME')">
                                            <i class="sort up icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-else-if="!isStartTimeSorted" v-on:click="sort('des','START_TIME')">
                                            <i class="sort icon"></i>
                                        </span>
                                    </div>
                                    <div class="column">
                                        <span>End Time</span>
                                        <span class="toybox-pagination-icons" v-if="isEndTimeSortedDes" v-on:click="sort('asc','END_TIME')">
                                            <i class="sort down icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-else-if="isEndTimeSortedAsc" v-on:click="sort('des','END_TIME')">
                                            <i class="sort up icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-else-if="!isEndTimeSorted" v-on:click="sort('des','END_TIME')">
                                            <i class="sort icon"></i>
                                        </span>
                                    </div>
                                    <div class="column">
                                        <span>Status</span>
                                        <span class="toybox-pagination-icons" v-if="isStatusSortedDes" v-on:click="sort('asc','STATUS')">
                                            <i class="sort down icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-else-if="isStatusSortedAsc" v-on:click="sort('des','STATUS')">
                                            <i class="sort up icon"></i>
                                        </span>
                                        <span class="toybox-pagination-icons" v-else-if="!isStatusSorted" v-on:click="sort('des','STATUS')">
                                            <i class="sort icon"></i>
                                        </span>
                                    </div>
                                    <div class="column">
                                        <span>Actions</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui grid">
                                <div class="ui active dimmer" v-if="isLoading">
                                    <div class="ui massive text loader">Loading</div>
                                </div>
                                <job v-for="job in jobs" v-bind:job-instance-id="job.jobInstanceId" v-bind:job-execution-id="job.jobExecutionId" v-bind:job-name="job.jobName" v-bind:job-type="job.jobType" v-bind:start-time="job.startTime"
                                v-bind:end-time="job.endTime" v-bind:status="job.status" v-bind:username="job.username" v-bind:steps="job.steps" v-bind:key="job.jobInstanceId"/>
                            </div>
                            <div class="ui right floated pagination menu toybox-pagination">
                                <a v-bind:class="{icon:true, disabled:previousPageButtonDisabled, item:true}" v-on:click="previousPage">
                                    <i class="left chevron icon"></i>
                                </a>
                                <div class="item">
                                    {{ startIndex }} - {{ endIndex }} of {{ totalRecords }} Results
                                </div>
                                <div class="item">
                                    <span>{{ currentPage }} of {{ totalPages }} Pages</span>
                                </div>
                                <a v-bind:class="{icon:true, disabled:nextPageButtonDisabled, item:true}" v-on:click="nextPage">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <job-details-modal-window/>
            <div id="messages">
                <message v-for="message in messages" v-bind:id="message.id" v-bind:is-info="message.isInfo" v-bind:is-ok="message.isOk" v-bind:is-error="message.isError" v-bind:is-warning="message.isWarning" v-bind:header="message.header" v-bind:message="message.message" v-bind:key="message.id"/>
            </div>
        </div>
    </body>
    <script src="../components/mixins/service/service-mixin.js"></script>
    <script src="../components/mixins/user/user-mixin.js"></script>
    <script src="../components/mixins/facet/facet-mixin.js"></script>
    <script src="../components/mixins/message/message-mixin.js"></script>
    <script src="../components/mixins/pagination/pagination-mixin.js"></script>
    <script src="../js/utilities.js"></script>
    <script src="../js/jobs.js"></script>
</html>