.toybox-brand-logo{
    width: auto !important;
}

.toybox-navbar-item{
    padding-right: 25px !important;
    padding-left: 25px !important;
}

#toybox-profile-menu{
    padding-right: 20px !important;
    padding-left: 25px !important;
}

.toybox-search-box{
    width: 600px;
}