.toybox-brand-logo{
    width: auto !important;
    height: 50px;
}

.toybox-navbar-item{
    padding-right: 25px !important;
    padding-left: 25px !important;
}

#toybox-notifications-menu{
    cursor: pointer;
}

#toybox-profile-menu{
    padding-right: 20px !important;
    padding-left: 25px !important;
}

.toybox-search-box{
    width: 600px;
    padding: 10px;
}

.toybox-search-box > i{
    margin-right: 10px !important;
}

.toybox-notification-label{
    left: 90% !important;
    top: 5% !important;
}

.toybox-notification-feed{
    padding: 10px;
    max-height: 300px;
    overflow-x: auto;
}

.navbar-mark-all-notifications-as-read-button{
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
}

.navbar-mark-all-notifications-as-read-button > span{
    cursor: pointer;
}