.toybox-brand-logo{
    width: auto !important;
}

.toybox-navbar-item{
    padding-right: 25px !important;
    padding-left: 25px !important;
}

#toybox-profile-menu{
    padding-right: 20px !important;
    padding-left: 25px !important;
}

.toybox-search-box{
    width: 600px;
}

.toybox-notification-label{
    left: 90% !important;
    top: 5% !important;
}

.toybox-notification-feed{
    padding: 10px;
    max-height: 300px;
    overflow-x: auto;
}