.toybox-background{
    width: 100%;
    height: 100%;
    background-image: url('http://via.placeholder.com/1920x1080');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.hidden{
    display: none !important;
}

.toybox-container{
    margin: 10px;
    height: 100%;
}

#gallery-top-menu{
    margin-bottom: 25px;
}