#toybox-home, #toybox-files, #toybox-folders, #toybox-jobs, #toybox-notifications, #toybox-recyclebin{
    height: 100%;
    width: 100%;
}

.toybox-background{
    width: 100%;
    height: calc(100% - 74px);
    background-image: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.toybox-container{
    margin: 10px;
    height: 100%;
}

/* Assets Tab */
.toybox-asset-container{
    height: calc(100% - 40px);
    background-color: white;
    border-radius: 5px;
    margin-top: 20px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.gallery-top-menu{
    margin-bottom: 25px !important;
    margin-top: 18px !important;
    margin-left: 0px !important;
}

/* Jobs Tab */
.toybox-jobs-container{
    height: calc(100% - 40px);
    background-color: white;
    border-radius: 5px;
    margin-top: 20px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.toybox-jobs-header-grid{
    margin-top: 10px !important;
    width: 100%;
    margin-left: 0px !important;
    font-weight: bold;
}

.toybox-jobs-header-row{
    padding-left: 10px !important;
    height: 50px;
    background-color: #F9FAFB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Folders Tab */
.toybox-folder-container{
    height: calc(100% - 40px);
    background-color: white;
    border-radius: 5px;
    margin-top: 20px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.toybox-pagination{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.toybox-pagination-icons{
    cursor: pointer;
}

.toybox-keep-spaces{
    white-space: pre;
}

.toybox-filters-header-row{
    height: 50px;
    background-color: #F9FAFB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

#toybox-toggle input:checked ~ .box:before,
#toybox-toggle input:checked ~ label:before {
  background-color: #0AC90A !important;
}

#toybox-toggle input:focus:checked~.box:before,
#toybox-toggle input:focus:checked~label:before {
    background-color: #0AC90A !important
}


#toybox-toggle .box:before,
#toybox-toggle label:before {
    background-color: #F2F2F2 !important;
}