#toybox-asset-version-history-modal-window{
    height: 70%;
    width: 80%;
}

.toybox-version-history-table{
    clear: both;
    padding-top: 10px;
    height: calc(100% - 110px);
}

.toybox-version-history-header-grid{
    margin-top: 10px !important;
    width: 100%;
    margin-left: 0px !important;
    font-weight: bold;
    padding-bottom: 14px !important;
}

.toybox-version-history-header-row{
    padding-left: 10px !important;
    height: 50px;
    background-color: #F9FAFB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.toybox-version-history-rows{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
}

.toybox-version-history-rows > div{
    margin-left: 0px;
    margin-right: 0px;
}